<div class="container text-center">
<img src="../assets/img/burger.jpg">

<h1>Eat-Da-Burger!</h1>

<div class="row">
    <div class="col">
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                <div class="row">
                    <div class="col-lg-2 text-right">
                        <p>{{this.id}}</p>
                    </div>
                    <div class="col-lg-4 text-left">
                        <p>{{this.burger_name}}</p>
                    </div>
                    <div class="col-lg-4">
                        <button class="devour-it" id="{{this.id}}">Devour It!</button>
                    </div>
                </div>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col">    
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    <div class="row">
                        <div class="col-lg-2 text-right">
                            <p>{{this.id}}</p>
                        </div>  
                        <div class="col-lg-4 text-left">
                            <p>{{this.burger_name}}</p>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <form>
                <div class="form-group">
                    <label>New Burger</label>
                    <input type="text" class="form-control" id="new-burger" style="width: 500px" placeholder="Burger name...">
                    <span class="input-group-btn">                   
                        <button type="submit" class="btn btn-primary" id="add">Add</button>
                    </span>
                </div>
            </form>
        </div>
</div>
</div>